In [4]:
#Q1
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [5]:
# Data Preparation
items_csv = pd.read_csv("https://raw.githubusercontent.com/pythonai250824/14.05.2025/refs/heads/main/Items.csv")

customers_csv = pd.read_csv("https://raw.githubusercontent.com/pythonai250824/14.05.2025/refs/heads/main/customers.csv")

order_item_csv = pd.read_csv("https://raw.githubusercontent.com/pythonai250824/14.05.2025/refs/heads/main/order_item.csv")

orders_csv = pd.read_csv("https://raw.githubusercontent.com/pythonai250824/14.05.2025/refs/heads/main/orders.csv")

In [6]:
# Explore the Data
tables = {"Items": items_csv, "Customers": customers_csv, "Order_Item": order_item_csv, "Orders": orders_csv}

for name, df in tables.items():
    print(f"\n{name} - info:")
    print(df.info())

Items - info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 50 non-null     int64
 1   item_name          50 non-null     object
 2   item_category      39 non-null     object
 3   item_price         50 non-null     float64
 4   stock_quantity     45 non-null     float64
 5   item_brand         42 non-null     object
 6   item_availability  50 non-null     bool
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 2.5+ KB
None

Customers - info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            500 non-null    int64
 1   first_name    494 non-null    object
 2   last_name     494 non-null    object
 3   gender        447 non-null    object
 4   age           475 non-null    float64
 5   nationallity  494 non-null    object
 6   joining_date  439 non-null    object
 7   phone_number  500 non-null    object
 8   email         500 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 35.3+ KB
None

Order_Item - info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1000 non-null   int64
 1   order_id  1000 non-null   int64
 2   item_id   960 non-null    float64
 3   quantity  1000 non-null   int64
dtypes: float64(1), int64(3)
memory usage: 31.4 KB
None

Orders - info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          600 non-null    int64
 1   customer_id       555 non-null    float64
 2   delivery_address  600 non-null    object
 3   delivery_days     525 non-null    float64
 4   order_date        600 non-null    object
 5   payment_method    600 non-null    object
 6   order_source      600 non-null    object
dtypes: float64(2), int64(1), object(4)
memory usage: 32.9+ KB
None

In [8]:
for name, df in tables.items():
    print(f"\n{name} - describe:")
    print(df.describe(include='all'))

Items - describe:
              id item_name              item_category   item_price  \
count   50.00000        50                         39    50.000000
unique       NaN        36                         12          NaN
top          NaN     Drone  Computers and Accessories          NaN
freq         NaN         3                          8          NaN
mean    25.50000       NaN                        NaN  2222.082600
std     14.57738       NaN                        NaN  1394.005145
min      1.00000       NaN                        NaN   241.540000
25%     13.25000       NaN                        NaN  1004.360000
50%     25.50000       NaN                        NaN  1956.220000
75%     37.75000       NaN                        NaN  3436.830000
max     50.00000       NaN                        NaN  4471.270000

        stock_quantity item_brand item_availability
count        45.000000         42                50
unique             NaN         14                 2
top                NaN       Bose              True
freq               NaN          5                45
mean        743.155556        NaN               NaN
std         332.855071        NaN               NaN
min          14.000000        NaN               NaN
25%         550.000000        NaN               NaN
50%         704.000000        NaN               NaN
75%         971.000000        NaN               NaN
max        1367.000000        NaN               NaN

Customers - describe:
                id first_name last_name  gender         age   nationallity  \
count   500.000000        494       494     447  475.000000            494
unique         NaN        484       491       8         NaN             15
top            NaN     Davida    Crewes  Female         NaN  United States
freq           NaN          2         2     203         NaN             98
mean    250.500000        NaN       NaN     NaN   44.006316            NaN
std     144.481833        NaN       NaN     NaN   14.813395            NaN
min       1.000000        NaN       NaN     NaN    2.000000            NaN
25%     125.750000        NaN       NaN     NaN   34.000000            NaN
50%     250.500000        NaN       NaN     NaN   44.000000            NaN
75%     375.250000        NaN       NaN     NaN   55.000000            NaN
max     500.000000        NaN       NaN     NaN   84.000000            NaN

       joining_date  phone_number                     email
count           439           500                       500
unique          368           500                       500
top      02/08/2020  796-438-2219  rocrianedv@geocities.com
freq              3             1                         1
mean            NaN           NaN                       NaN
std             NaN           NaN                       NaN
min             NaN           NaN                       NaN
25%             NaN           NaN                       NaN
50%             NaN           NaN                       NaN
75%             NaN           NaN                       NaN
max             NaN           NaN                       NaN

Order_Item - describe:
                id     order_id     item_id     quantity
count  1000.000000  1000.000000  960.000000  1000.000000
mean    500.500000   305.006000   25.746875     3.016000
std     288.819436   171.251432   14.676686     2.288882
min       1.000000     1.000000    1.000000     1.000000
25%     250.750000   157.000000   13.000000     1.000000
50%     500.500000   315.000000   26.000000     2.000000
75%     750.250000   450.000000   38.000000     4.000000
max    1000.000000   599.000000   50.000000     9.000000

Orders - describe:
          order_id  customer_id delivery_address  delivery_days  order_date  \
count   600.000000   555.000000              600     525.000000         600
unique         NaN          NaN              600            NaN         301
top            NaN          NaN    545 Orin Lane            NaN  2023-01-24
freq           NaN          NaN                1            NaN           6
mean    300.500000   258.650450              NaN       3.899048         NaN
std     173.349358   146.002993              NaN       1.075091         NaN
min       1.000000     1.000000              NaN       1.000000         NaN
25%     150.750000   136.000000              NaN       3.000000         NaN
50%     300.500000   256.000000              NaN       4.000000         NaN
75%     450.250000   385.000000              NaN       5.000000         NaN
max     600.000000   500.000000              NaN       6.000000         NaN

       payment_method order_source
count             600          600
unique              4            2
top              CASH      WEBSITE
freq              158          328
mean              NaN          NaN
std               NaN          NaN
min               NaN          NaN
25%               NaN          NaN
50%               NaN          NaN
75%               NaN          NaN
max               NaN          NaN

In [12]:
for name, df in tables.items():
    print(f"\n{name} - head:")
    print(df.head())

Items - head:
   id           item_name                item_category  item_price  \
0  26       Action Camera        Photography Equipment     2694.25
1  37  Antivirus Software                     Software     4186.62
2  11      Blu-Ray Player  Video Players and Recorders     3382.86
3  25           Camcorder        Photography Equipment      860.01
4   7              Camera        Photography Equipment     2366.72

   stock_quantity item_brand  item_availability
0             NaN       Bose              False
1             NaN        NaN              False
2           704.0       ASUS               True
3           870.0       Bose               True
4           458.0  Microsoft               True

Customers - head:
   id first_name  last_name  gender   age nationallity joining_date  \
0   1      Eadie     Maffeo  Female  41.0       France   11/01/2022
1   2     Hammad  Brewerton    Male  56.0       Isreal   30/09/2022
2   3    Terrell       Bris    Male  43.0        India          NaN
3   4    Frannie   Morewood    Male  84.0       France   26/05/2021
4   5      Sophi      Fleet  Female  33.0       Sweden   19/07/2021

   phone_number                      email
0  534-341-9052        emaffeo0@smh.com.au
1  999-994-0510  hbrewerton1@discovery.com
2  980-455-5208            tbris2@yale.edu
3  979-187-1493  fmorewood3@vistaprint.com
4  991-853-9984         sfleet4@unicef.org

Order_Item - head:
   id  order_id  item_id  quantity
0   1       337     10.0         2
1   2       430     27.0         6
2   3       430     36.0         2
3   4       508     46.0         1
4   5       229     27.0         2

Orders - head:
   order_id  customer_id    delivery_address  delivery_days  order_date  \
0         1        477.0  576 Cordelia Place            2.0  2023-12-05
1         2         93.0      4664 6th Drive            4.0  2023-08-17
2         3        474.0      8766 4th Point            4.0  2023-02-25
3         4        333.0       31 Bonner Way            3.0  2023-02-04
4         5        436.0   20352 Shelley Way            5.0  2023-06-01

  payment_method order_source
0      GIFT_CARD      WEBSITE
1           CASH        STORE
2          CHECK        STORE
3           CASH        STORE
4           CASH        STORE

In [14]:
# Data Cleaning
items_csv = items_csv.loc[items_csv.notna().sum(axis=1).groupby(items_csv['item_name']).idxmax()]
display(items_csv)

,id,item_name,item_category,item_price,stock_quantity,item_brand,item_availability
0,26,Action Camera,Photography Equipment,2694.25,NaN,Bose,False
1,37,Antivirus Software,Software,4186.62,NaN,NaN,False
2,11,Blu-Ray Player,Video Players and Recorders,3382.86,704.0,ASUS,True
3,25,Camcorder,Photography Equipment,860.01,870.0,Bose,True
4,7,Camera,Photography Equipment,2366.72,458.0,Microsoft,True
7,18,Computer Monitor,Computers and Accessories,4076.35,1205.0,Bose,True
8,27,Dash Camera,Photography Equipment,1283.99,550.0,Lenovo,True
9,3,Desktop,Computers and Accessories,1121.84,334.0,HP,True
11,24,Drone,Televisions and Displays,4449.99,443.0,Samsung,True
14,21,External Hard Drive,Computers and Accessories,1251.36,1013.0,Microsoft,True
15,15,Fitness Tracker,Mobile Devices and Accessories,2997.29,956.0,Apple,True
16,30,Gaming Chair,Gaming Equipment,417.16,704.0,Samsung,True
17,34,HDMI Cable,Cables,1710.84,869.0,JBL,True
19,49,Headphone,Audio Equipment,1317.56,NaN,Sony,False
20,19,Keyboard,Computers and Accessories,604.18,NaN,Panasonic,False
21,2,Laptop,Computers and Accessories,1851.32,493.0,HP,True
23,23,Micro SD Card,Storage Devices,3238.23,663.0,Sony,True
24,36,Modem,NaN,3256.88,673.0,Bose,True
25,20,Mouse,Computers and Accessories,1333.04,881.0,Logitech,True
26,38,Office Software,Printers and Office Equipment,3454.82,643.0,JBL,True
27,32,Portable Charger,Mobile Devices and Accessories,1523.27,192.0,HP,True
28,39,Power Strip,Printers and Office Equipment,3344.90,1211.0,HP,True
29,6,Printer,Printers and Office Equipment,4175.99,971.0,Sony,True
31,17,Smart Watch,Televisions and Displays,312.88,685.0,Canon,True
33,4,Smartphone,Mobile Devices and Accessories,965.20,201.0,Bose,True
36,50,Speaker,Audio Equipment,4453.90,937.0,Logitech,True
37,33,Surge Protector,Printers and Office Equipment,488.39,800.0,ASUS,True
39,46,Tablet,Mobile Devices and Accessories,1606.65,267.0,HP,True
40,1,Television,Televisions and Displays,356.81,1009.0,JBL,True
43,22,USB Flash Drive,NaN,1150.87,1251.0,Panasonic,True
46,41,VR Headset,NaN,1905.01,1367.0,JBL,True
44,13,Video Game,NaN,1890.03,681.0,Lenovo,True
45,12,Video Game Console,Gaming Equipment,689.61,753.0,Microsoft,True
47,29,Webcam,Printers and Office Equipment,4227.36,596.0,Dell,True
48,35,Wi-Fi Router,Network Equipment,3812.53,14.0,Microsoft,True
49,31,Wireless Charger,Mobile Devices and Accessories,241.54,951.0,Lenovo,True

In [16]:
# Methods of Operation
items_csv["non_null_count"] = items_csv.notna().sum(axis=1)

items_csv = items_csv.sort_values(by=["item_name", "non_null_count"], ascending=[True, False])

items_csv = items_csv.drop_duplicates(subset="item_name", keep="first")

display(items_csv)

,id,item_name,item_category,item_price,stock_quantity,item_brand,item_availability,non_null_count
0,26,Action Camera,Photography Equipment,2694.25,NaN,Bose,False,6
1,37,Antivirus Software,Software,4186.62,NaN,NaN,False,5
2,11,Blu-Ray Player,Video Players and Recorders,3382.86,704.0,ASUS,True,7
3,25,Camcorder,Photography Equipment,860.01,870.0,Bose,True,7
4,7,Camera,Photography Equipment,2366.72,458.0,Microsoft,True,7
7,18,Computer Monitor,Computers and Accessories,4076.35,1205.0,Bose,True,7
8,27,Dash Camera,Photography Equipment,1283.99,550.0,Lenovo,True,7
9,3,Desktop,Computers and Accessories,1121.84,334.0,HP,True,7
11,24,Drone,Televisions and Displays,4449.99,443.0,Samsung,True,7
14,21,External Hard Drive,Computers and Accessories,1251.36,1013.0,Microsoft,True,7
15,15,Fitness Tracker,Mobile Devices and Accessories,2997.29,956.0,Apple,True,7
16,30,Gaming Chair,Gaming Equipment,417.16,704.0,Samsung,True,7
17,34,HDMI Cable,Cables,1710.84,869.0,JBL,True,7
19,49,Headphone,Audio Equipment,1317.56,NaN,Sony,False,6
20,19,Keyboard,Computers and Accessories,604.18,NaN,Panasonic,False,6
21,2,Laptop,Computers and Accessories,1851.32,493.0,HP,True,7
23,23,Micro SD Card,Storage Devices,3238.23,663.0,Sony,True,7
24,36,Modem,NaN,3256.88,673.0,Bose,True,6
25,20,Mouse,Computers and Accessories,1333.04,881.0,Logitech,True,7
26,38,Office Software,Printers and Office Equipment,3454.82,643.0,JBL,True,7
27,32,Portable Charger,Mobile Devices and Accessories,1523.27,192.0,HP,True,7
28,39,Power Strip,Printers and Office Equipment,3344.90,1211.0,HP,True,7
29,6,Printer,Printers and Office Equipment,4175.99,971.0,Sony,True,7
31,17,Smart Watch,Televisions and Displays,312.88,685.0,Canon,True,7
33,4,Smartphone,Mobile Devices and Accessories,965.20,201.0,Bose,True,7
36,50,Speaker,Audio Equipment,4453.90,937.0,Logitech,True,7
37,33,Surge Protector,Printers and Office Equipment,488.39,800.0,ASUS,True,7
39,46,Tablet,Mobile Devices and Accessories,1606.65,267.0,HP,True,7
40,1,Television,Televisions and Displays,356.81,1009.0,JBL,True,7
43,22,USB Flash Drive,NaN,1150.87,1251.0,Panasonic,True,6
46,41,VR Headset,NaN,1905.01,1367.0,JBL,True,6
44,13,Video Game,NaN,1890.03,681.0,Lenovo,True,6
45,12,Video Game Console,Gaming Equipment,689.61,753.0,Microsoft,True,7
47,29,Webcam,Printers and Office Equipment,4227.36,596.0,Dell,True,7
48,35,Wi-Fi Router,Network Equipment,3812.53,14.0,Microsoft,True,7
49,31,Wireless Charger,Mobile Devices and Accessories,241.54,951.0,Lenovo,True,7

In [18]:
# Updating the order_item table
id_map = items_csv.set_index("item_name")["id"].to_dict()
order_item_csv["id"] = order_item_csv["id"].replace({i: id_map[n] for i, n in items_csv[["id", "item_name"]].values})

valid_ids = orders_csv["customer_id"].value_counts()[lambda x: x >= 3].index
customers_csv = customers_csv[customers_csv["id"].isin(valid_ids)]

display(order_item_csv)

       id  order_id  item_id  quantity
0       1       337     10.0         2
1       2       430     27.0         6
2       3       430     36.0         2
3       4       508     46.0         1
4       5       229     27.0         2
..    ...       ...      ...       ...
995   996       594     24.0         2
996   997       330     32.0         8
997   998       472     10.0         3
998   999       222     29.0         1
999  1000       337     16.0         1

[1000 rows x 4 columns]

In [24]:
# Q2
# 3
merged = order_item_csv.merge(items_csv, left_on="item_id", right_on="id")
merged["total_price"] = merged["item_price"] * merged["stock_quantity"]

display(merged)

,id_x,order_id,item_id,quantity,id_y,item_name,item_category,item_price,stock_quantity,item_brand,item_availability,non_null_count,total_price
0,2,430,27.0,6,27,Dash Camera,Photography Equipment,1283.99,550.0,Lenovo,True,7,706194.50
1,3,430,36.0,2,36,Modem,NaN,3256.88,673.0,Bose,True,6,2191880.24
2,4,508,46.0,1,46,Tablet,Mobile Devices and Accessories,1606.65,267.0,HP,True,7,428975.55
3,5,229,27.0,2,27,Dash Camera,Photography Equipment,1283.99,550.0,Lenovo,True,7,706194.50
4,6,69,50.0,1,50,Speaker,Audio Equipment,4453.90,937.0,Logitech,True,7,4173304.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,994,535,24.0,3,24,Drone,Televisions and Displays,4449.99,443.0,Samsung,True,7,1971345.57
700,995,483,35.0,4,35,Wi-Fi Router,Network Equipment,3812.53,14.0,Microsoft,True,7,53375.42
701,996,594,24.0,2,24,Drone,Televisions and Displays,4449.99,443.0,Samsung,True,7,1971345.57
702,997,330,32.0,8,32,Portable Charger,Mobile Devices and Accessories,1523.27,192.0,HP,True,7,292467.84
703,999,222,29.0,1,29,Webcam,Printers and Office Equipment,4227.36,596.0,Dell,True,7,2519506.56

In [28]:
# 4
purchases = merged[["order_id", "item_id", "stock_quantity", "item_price", "total_price"]]
print(purchases)

     order_id  item_id  stock_quantity  item_price  total_price
0         430     27.0           550.0     1283.99    706194.50
1         430     36.0           673.0     3256.88   2191880.24
2         508     46.0           267.0     1606.65    428975.55
3         229     27.0           550.0     1283.99    706194.50
4          69     50.0           937.0     4453.90   4173304.30
..        ...      ...             ...         ...          ...
699       535     24.0           443.0     4449.99   1971345.57
700       483     35.0            14.0     3812.53     53375.42
701       594     24.0           443.0     4449.99   1971345.57
702       330     32.0           192.0     1523.27    292467.84
703       222     29.0           596.0     4227.36   2519506.56

[704 rows x 5 columns]

In [30]:
# 5
print("Most expensive purchase:", merged["total_price"].max())
print("Cheapest purchase:", merged["total_price"].min())
print("Average purchase total:", merged["total_price"].mean())

Most expensive purchase: 4912001.75
Cheapest purchase: 53375.420000000006
Average purchase total: 1508372.858772213

In [36]:
# 6
customers_csv = customers_csv.dropna(subset=["gender", "nationallity"])
pivot = customers_csv.pivot_table(index="nationallity", columns="gender", values="id", aggfunc="count", fill_value=0)
print(pivot)

gender         Agender  Bigender  Female  Genderfluid  Male  Non-binary  \
nationallity
Argentina            0         0       1            0     0           0
Brazil               0         0       1            0     2           1
Chile                0         0       1            0     3           0
China                0         0       0            1     1           0
France               0         0       2            0     1           0
Germany              0         0       0            0     1           0
India                1         0       0            0     1           0
Isreal               0         0       1            1     3           0
Italy                0         0       3            0     1           0
Peru                 1         0       1            0     1           0
South Korea          0         0       2            0     2           0
Spain                0         0       0            1     1           0
Sweden               0         0       2            0     0           0
United States        0         2       3            0     3           0

gender         Polygender
nationallity
Argentina               0
Brazil                  0
Chile                   0
China                   0
France                  0
Germany                 0
India                   0
Isreal                  1
Italy                   0
Peru                    0
South Korea             0
Spain                   0
Sweden                  0
United States           0